<div
  class="row"
  style="
    align-items: center;
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 170px;
  "
>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 style="text-align: center">Effettua il login</h1>
    <div class="form-group">
      <label for="input-user">Username</label>
      <input
        type="text"
        class="form-control"
        id="input-user"
        [(ngModel)]="user"
      />
    </div>
    <div class="form-group">
      <label for="input-pass">Password</label>
      <input
        type="password"
        class="form-control"
        id="input-pass"
        [(ngModel)]="pass"
      />
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="verifica()"
      style="width: 289px"
    >
      Entra
    </button>
  </div>
</div>
